on init
    export LD_LIBRARY_PATH /vendor/lib
    insmod /sbin/mmc_protect.ko

on post-fs
    wait /dev/block/mmcblk0p12
    write /sys/kernel/mmc_protect/clear mmcblk0p12
    wait /dev/block/mmcblk0p18
    write /sys/kernel/mmc_protect/clear mmcblk0p18

service rmt_storage /vendor/bin/rmt_storage
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage
